.ant-input {
  background-color: transparent;
  border: 1px solid #d9d9d9;
}
.ant-input:hover {
  border: none;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}
